In [48]:
import pandas as pd

In [49]:
df1 = pd.read_csv("dd1.csv")
df2 = pd.read_csv("dd2.csv")

In [50]:
print(df1)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [51]:
print(df2)

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

As we can see in the first dataset we have an unncessary column 'gender' and in the 2nd dataset we have 'index'. We are getting rid of these two columns to make more similar datasets.

In [52]:
df1 = df1.drop(['Gender'],axis=1)
print(df1)

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
9995  66.172652  136.777454
9996  67.067155  170.867906
9997  63.867992  128.475319
9998  69.034243  163.852461
9999  61.944246  113.649103

[10000 rows x 2 columns]

In [53]:
df2 = df2.drop(['Index'], axis=1)
print(df2)

       Height(Inches)  Weight(Pounds)
0            65.78331        112.9925
1            71.51521        136.4873
2            69.39874        153.0269
3            68.21660        142.3354
4            67.78781        144.2971
...               ...             ...
24995        69.50215        118.0312
24996        64.54826        120.1932
24997        64.69855        118.2655
24998        67.52918        132.2682
24999        68.87761        124.8742

[25000 rows x 2 columns]

Also, we can see that the 1st dataset has height and weight columns but not labeled with according units.

In [54]:
df1.rename(columns={'Height':'Height(Inches)', 'Weight':'Weight(Pounds)'}, inplace=True)
df1.head()

   Height(Inches)  Weight(Pounds)
0       73.847017      241.893563
1       68.781904      162.310473
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801

In [55]:
df2.head()

   Height(Inches)  Weight(Pounds)
0        65.78331        112.9925
1        71.51521        136.4873
2        69.39874        153.0269
3        68.21660        142.3354
4        67.78781        144.2971

In [56]:
print(df1.shape)
print(df2.shape)

(10000, 2)
(25000, 2)

Merging 2 datasets with similar column names.

In [57]:
final = pd.concat([df1,df2])
print(final.shape)

(35000, 2)