In [50]:
import numpy as np 
import pandas as pd 
from sklearn.impute import SimpleImputer

In [51]:
d1 = pd.read_csv('dataset1.csv')

In [52]:
print(d1.describe())

         Index        Age        Salary
count  14.0000  11.000000     12.000000
mean    6.5000  35.363636  62166.666667
std     4.1833   6.888726  14837.503670
min     0.0000  27.000000  38000.000000
25%     3.2500  30.500000  51000.000000
50%     6.5000  35.000000  61000.000000
75%     9.7500  39.000000  73750.000000
max    13.0000  48.000000  85000.000000

Create dependent and independent vairable vectors

In [53]:
x = d1.iloc[:,:-1].values

In [54]:
y = d1.iloc[:,-1].values

In [55]:
print(x)

[[0 'Mumbai' 27.0 51000.0]
 [1 'New York' 27.0 48000.0]
 [2 'Mumbai' 30.0 52000.0]
 [3 'New York' nan 66000.0]
 [4 'Tokyo' 48.0 nan]
 [5 'Tokyo' nan 51000.0]
 [6 'Singapore' 33.0 69000.0]
 [7 'New York' 40.0 79000.0]
 [8 'Mumbai' 38.0 nan]
 [9 'Singapore' 35.0 38000.0]
 [10 'Tokyo' nan 56000.0]
 [11 'Singapore' 35.0 72000.0]
 [12 'New York' 45.0 79000.0]
 [13 'Mumbai' 31.0 85000.0]]

In [56]:
print(y)

['Yes' 'Yes' 'No' 'No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'No' 'No' 'yes'
 'yes']

In [57]:
print(d1.isnull().sum())

Index                    0
City                     0
Age                      3
Salary                   2
Eligibility for bonus    0
dtype: int64

In [58]:
d1.dropna(inplace=True)

In [59]:
print(d1)

    Index       City   Age   Salary Eligibility for bonus
0       0     Mumbai  27.0  51000.0                   Yes
1       1   New York  27.0  48000.0                   Yes
2       2     Mumbai  30.0  52000.0                    No
6       6  Singapore  33.0  69000.0                    No
7       7   New York  40.0  79000.0                   Yes
9       9  Singapore  35.0  38000.0                    No
11     11  Singapore  35.0  72000.0                    No
12     12   New York  45.0  79000.0                   yes
13     13     Mumbai  31.0  85000.0                   yes

In [60]:
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')

In [66]:
imputer.fit(x[:, 2:4])
x[:,2:4] = imputer.transform(x[:,2:4])

In [67]:
print(x)

[[0 'Mumbai' 27.0 51000.0]
 [1 'New York' 27.0 48000.0]
 [2 'Mumbai' 30.0 52000.0]
 [3 'New York' 35.36363636363637 66000.0]
 [4 'Tokyo' 48.0 62166.666666666664]
 [5 'Tokyo' 35.36363636363637 51000.0]
 [6 'Singapore' 33.0 69000.0]
 [7 'New York' 40.0 79000.0]
 [8 'Mumbai' 38.0 62166.666666666664]
 [9 'Singapore' 35.0 38000.0]
 [10 'Tokyo' 35.36363636363637 56000.0]
 [11 'Singapore' 35.0 72000.0]
 [12 'New York' 45.0 79000.0]
 [13 'Mumbai' 31.0 85000.0]]