In [1]:
import numpy as np 
import pandas as pd

In [2]:
cricketers = {'Name':['Virat', 'Rohit', 'Babar', 'Boult', 'bumrah', 'Mujeeb', 'Nabi', 'Strokes'],
            'Age': [31,33,25,31,26,19,35,29],
            'Grade':['Best', 'Better', 'Good', 'Best', 'Better', 'Good', 'Best', 'Better'],
            'Role':['Batsman', 'Batsman', 'Batsman', 'Bowler', 'Bowler', 'Bowler', 'All-Rounder', 'All-Rounder'],
            'Rating':[971,855,829,722,719,701,301,285],
            'Country':['IND', 'IND', 'PAK', 'NZ', 'IND', 'AFG', 'AFG', 'ENG']}

In [3]:
cricketers = pd.DataFrame(cricketers)
cricketers2 = cricketers
cricketers3 = cricketers
print(cricketers)

      Name  Age   Grade         Role  Rating Country
0    Virat   31    Best      Batsman     971     IND
1    Rohit   33  Better      Batsman     855     IND
2    Babar   25    Good      Batsman     829     PAK
3    Boult   31    Best       Bowler     722      NZ
4   bumrah   26  Better       Bowler     719     IND
5   Mujeeb   19    Good       Bowler     701     AFG
6     Nabi   35    Best  All-Rounder     301     AFG
7  Strokes   29  Better  All-Rounder     285     ENG

We will now provide a datamapping for all the columns but the 'name' with ordinal data.

In [4]:
dm_Grade = {'Best': 3, 'Better':2,'Good':1}
dm_Role = {'Batsman':1, 'Bowler':2, 'All-Rounder':3}
dm_Country  = {'IND':1,'PAK':2,'NZ':3,'AFG':4,'ENG':5}

In [5]:
cricketers['Grade'] = cricketers['Grade'].map(dm_Grade)
cricketers['Role'] = cricketers['Role'].map(dm_Role)
cricketers['Country'] = cricketers['Country'].map(dm_Country)

In [6]:
print(cricketers)

      Name  Age  Grade  Role  Rating  Country
0    Virat   31      3     1     971        1
1    Rohit   33      2     1     855        1
2    Babar   25      1     1     829        2
3    Boult   31      3     2     722        3
4   bumrah   26      2     2     719        1
5   Mujeeb   19      1     2     701        4
6     Nabi   35      3     3     301        4
7  Strokes   29      2     3     285        5

Data binning

In [7]:
print(cricketers2)

      Name  Age  Grade  Role  Rating  Country
0    Virat   31      3     1     971        1
1    Rohit   33      2     1     855        1
2    Babar   25      1     1     829        2
3    Boult   31      3     2     722        3
4   bumrah   26      2     2     719        1
5   Mujeeb   19      1     2     701        4
6     Nabi   35      3     3     301        4
7  Strokes   29      2     3     285        5

Lets's build a function that will take inputs for binning columns.

In [8]:
def binningFunction(col,cut_points,labels=None):
    min = col.min()        #Saving the minimum value in the 'Age' column in min var
    max = col.max()         #Saving the maximum value in the 'Age' column in max var
    break_points = [min] + cut_points + [max]   #putting min and max var in [] makes it concatenate with the values provided according to cut_points 
    print(break_points)         #printing the intervals of values

    if not labels:
        labels = range(len(cut_points)+1)  #incase the labels are not provided, it will provide the labels by default as integers l;ike 0, 1, 2
    
    colBin = pd.cut(col, bins= break_points, labels=labels, include_lowest=True)
    return colBin

In [9]:
cut_points = [25,30]
labels = ["Young", "Senior", "Super_senior"]
cricketers2['Exp_category'] = binningFunction(cricketers2['Age'], cut_points, labels)
print(cricketers2)

[19, 25, 30, 35]
      Name  Age  Grade  Role  Rating  Country  Exp_category
0    Virat   31      3     1     971        1  Super_senior
1    Rohit   33      2     1     855        1  Super_senior
2    Babar   25      1     1     829        2         Young
3    Boult   31      3     2     722        3  Super_senior
4   bumrah   26      2     2     719        1        Senior
5   Mujeeb   19      1     2     701        4         Young
6     Nabi   35      3     3     301        4  Super_senior
7  Strokes   29      2     3     285        5        Senior