In [1]:
import numpy as np 
import pandas as pd

In [2]:
cricketers = {'Name':['Virat', 'Rohit', 'Babar', 'Boult', 'bumrah', 'Mujeeb', 'Nabi', 'Strokes'],
            'Age': [31,33,25,31,26,19,35,29],
            'Grade':['Best', 'Better', 'Good', 'Best', 'Better', 'Good', 'Best', 'Better'],
            'Role':['Batsman', 'Batsman', 'Batsman', 'Bowler', 'Bowler', 'Bowler', 'All-Rounder', 'All-Rounder'],
            'Rating':[971,855,829,722,719,701,301,285],
            'Country':['IND', 'IND', 'PAK', 'NZ', 'IND', 'AFG', 'AFG', 'ENG']}

In [3]:
cricketers = pd.DataFrame(cricketers)

To handle categorical data, we can use OneHotEncoding and make it more feasible for the machine learning model to train on the categorical data.

In [4]:
print(cricketers)

      Name  Age   Grade         Role  Rating Country
0    Virat   31    Best      Batsman     971     IND
1    Rohit   33  Better      Batsman     855     IND
2    Babar   25    Good      Batsman     829     PAK
3    Boult   31    Best       Bowler     722      NZ
4   bumrah   26  Better       Bowler     719     IND
5   Mujeeb   19    Good       Bowler     701     AFG
6     Nabi   35    Best  All-Rounder     301     AFG
7  Strokes   29  Better  All-Rounder     285     ENG

We are creating dummy columns first and then inserting true value according to the categorical values.

In [5]:
columns = ['Grade', 'Role', 'Country']
dummyData = pd.get_dummies(cricketers[columns])
print(dummyData)

   Grade_Best  Grade_Better  Grade_Good  Role_All-Rounder  Role_Batsman  \
0           1             0           0                 0             1
1           0             1           0                 0             1
2           0             0           1                 0             1
3           1             0           0                 0             0
4           0             1           0                 0             0
5           0             0           1                 0             0
6           1             0           0                 1             0
7           0             1           0                 1             0

   Role_Bowler  Country_AFG  Country_ENG  Country_IND  Country_NZ  Country_PAK
0            0            0            0            1           0            0
1            0            0            0            1           0            0
2            0            0            0            0           0            1
3            1            0            0            0           1            0
4            1            0            0            1           0            0
5            1            1            0            0           0            0
6            0            1            0            0           0            0
7            0            0            1            0           0            0

Concatenating the original dataframe and the dummy columns that we've created.

In [6]:
cricketers = pd.concat([cricketers, dummyData], axis=1)
print(cricketers)

      Name  Age   Grade         Role  Rating Country  Grade_Best  \
0    Virat   31    Best      Batsman     971     IND           1
1    Rohit   33  Better      Batsman     855     IND           0
2    Babar   25    Good      Batsman     829     PAK           0
3    Boult   31    Best       Bowler     722      NZ           1
4   bumrah   26  Better       Bowler     719     IND           0
5   Mujeeb   19    Good       Bowler     701     AFG           0
6     Nabi   35    Best  All-Rounder     301     AFG           1
7  Strokes   29  Better  All-Rounder     285     ENG           0

   Grade_Better  Grade_Good  Role_All-Rounder  Role_Batsman  Role_Bowler  \
0             0           0                 0             1            0
1             1           0                 0             1            0
2             0           1                 0             1            0
3             0           0                 0             0            1
4             1           0                 0             0            1
5             0           1                 0             0            1
6             0           0                 1             0            0
7             1           0                 1             0            0

   Country_AFG  Country_ENG  Country_IND  Country_NZ  Country_PAK
0            0            0            1           0            0
1            0            0            1           0            0
2            0            0            0           0            1
3            0            0            0           1            0
4            0            0            1           0            0
5            1            0            0           0            0
6            1            0            0           0            0
7            0            1            0           0            0

Dropping the old columns that had  categorical data.

In [7]:
cricketers = cricketers.drop(['Grade', 'Role', 'Country'],axis= 1)
print(cricketers)

      Name  Age  Rating  Grade_Best  Grade_Better  Grade_Good  \
0    Virat   31     971           1             0           0
1    Rohit   33     855           0             1           0
2    Babar   25     829           0             0           1
3    Boult   31     722           1             0           0
4   bumrah   26     719           0             1           0
5   Mujeeb   19     701           0             0           1
6     Nabi   35     301           1             0           0
7  Strokes   29     285           0             1           0

   Role_All-Rounder  Role_Batsman  Role_Bowler  Country_AFG  Country_ENG  \
0                 0             1            0            0            0
1                 0             1            0            0            0
2                 0             1            0            0            0
3                 0             0            1            0            0
4                 0             0            1            0            0
5                 0             0            1            1            0
6                 1             0            0            1            0
7                 1             0            0            0            1

   Country_IND  Country_NZ  Country_PAK
0            1           0            0
1            1           0            0
2            0           0            1
3            0           1            0
4            1           0            0
5            0           0            0
6            0           0            0
7            0           0            0