In [1]:
import pandas as pd

In [28]:
a = [x for x in range(6)]
b = [51,52,53,54,55,56,57]
c = [x for x in range(2,10)]

s1 = pd.Series(a)
s2 = pd.Series(b)

In [11]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [12]:
s1[5]

5

In [13]:
s2

0    51
1    52
2    53
3    54
4    55
5    56
6    57
dtype: int64

In [14]:
s2[4]

55

In [17]:
s3 = pd.Series(a, index=['a','b','c','d','e','f'])

In [18]:
s3

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [19]:
s3['c']

2

In [20]:
s4 = pd.Series(a, index=['a','b','c','e','e','e'])

In [21]:
s4['e']

e    3
e    4
e    5
dtype: int64

In [22]:
data = {'a':1,'b':2,'c':3,'d':4}

In [23]:
s5 = pd.Series(data)

In [24]:
s5

a    1
b    2
c    3
d    4
dtype: int64

In [26]:
s6 = pd.Series(data, index=['a','b','c','f','h'])

In [27]:
s6

a    1.0
b    2.0
c    3.0
f    NaN
h    NaN
dtype: float64

In [35]:
s1.iloc[1]

1

In [32]:
s1.iat[4]

4

In [51]:
s7 = pd.Series(c)

In [52]:
s7

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int64

In [39]:
s7.where(s7%2==0, 'Odd Number')

0             2
1    Odd Number
2             4
3    Odd Number
4             6
5    Odd Number
6             8
7    Odd Number
dtype: object

In [40]:
s7.where(s7%2==0)

0    2.0
1    NaN
2    4.0
3    NaN
4    6.0
5    NaN
6    8.0
7    NaN
dtype: float64

In [42]:
s7.where(s7%2==0,s7**2)

0     2
1     9
2     4
3    25
4     6
5    49
6     8
7    81
dtype: int64

In [54]:
s7.where(s7%2==0,inplace=True)

In [55]:
s7.dropna()

0    2.0
2    4.0
4    6.0
6    8.0
dtype: float64

In [56]:
s7

0    2.0
1    NaN
2    4.0
3    NaN
4    6.0
5    NaN
6    8.0
7    NaN
dtype: float64

In [58]:
s7.fillna('something',inplace=True)

In [59]:
s7

0          2.0
1    something
2          4.0
3    something
4          6.0
5    something
6          8.0
7    something
dtype: object